.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto;
  width: 90%;
  max-width: 700px;
}

.logo {
  width: clamp(28px, 5vw, 50px);
  height: auto;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  /* space between logo & text */
}

.header h1 {
  font-size: 24px;
  font-weight: 600;
}


@media (min-width: 1440px) {
  .header {
    margin: 140px auto 30px auto;
  }
}